<p id="notice"><%= notice %></p>

<h1>System Administrators</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_administrators.each do |system_administrator| %>
      <tr>
        <td><%= link_to 'Show', system_administrator %></td>
        <td><%= link_to 'Edit', edit_system_administrator_path(system_administrator) %></td>
        <td><%= link_to 'Destroy', system_administrator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System Administrator', new_system_administrator_path %>
