<p id="notice"><%= notice %></p>

<h1>User On Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_on_events.each do |user_on_event| %>
      <tr>
        <td><%= link_to 'Show', user_on_event %></td>
        <td><%= link_to 'Edit', edit_user_on_event_path(user_on_event) %></td>
        <td><%= link_to 'Destroy', user_on_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User On Event', new_user_on_event_path %>
