<h1>Profile</h1>
<% if current_user.flyer.attached? %>
  <%= image_tag(current_user.flyer, class: "flex-image-L", data: {target: "#myModal", toggle: "modal"}) %>
<% else %>
  <%= image_tag("profile_pic.png", class: "flex-image-L") %>
<% end %>
<h2>User Info:</h2>
<p>Username: <%= @user.username %>
  <br>Full Name: <%= @user.full_name %>
  <br>Age: <%= @user.age %>
  <br>Email: <%= @user.email %>
  <br> Last Sign in:
  <% if @user.last_sign_in_at.nil? %>
    No session registered
  <% else %>
    <%= @user.last_sign_in_at %>
  <% end %>
  <br>Role:
  <% if @user.admin %>
    General Administrator
  <% else %>
    Normal User
  <% end %>
  <% @organization.each do |organization| %>
    <% if organization.user_id == @user.id %>
      , Organization Administrator at <%= organization.name %>
    <% end %>
  <% end %>

</p>

<b4> Events you have created:</b4><br>
<% @event.each do |event| %>
  <% if event.user_id == @user.id %>
    - <%= link_to event.name, event %><br>
  <% end %>
<% end %>
<br>
<b4> Your invitations:</b4><br>
<% @user_on_event.each do |user| %>
  <% if user.user_id == @user.id %>
    <% @event.each do |event| %>
      <% if user.event_id == event.id %>
        - <%= link_to event.name, event %><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<br>
<% if (user_signed_in? && current_user.id == @user.id) or (user_signed_in? && current_user.admin) %> <!-- ONLY THE USER CAN EDIT OR DESTROY or an admin-->
  <%= button_to "Destroy", current_user, {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true} %>
  <br>
  <%= link_to "Change password", edit_user_registration_path %> |
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', :back %>
