 <li class="flex-item">

    Name: <%= link_to  event.name, event %><br>
    Description: <%= event.description %><br>
    Address: <%= event.location %><br>
    Date: <%= event.starting_event_date %>
    <aside style="float: right; padding-right: 20px">
      <% if event.flyer.attached? %>
        <%= link_to image_tag(event.flyer, class: "flex-image2"), event %>
      <% else %>
        <%= link_to image_tag("thumbnail.svg", class: "flex-image2"), event%>
      <% end %>
    </aside>
  </li>