<!--<p id="notice"><!%= notice %></p<!-->

<aside style="float: right; padding-right: 20px">
  <% if @event.flyer.attached? %>
  <% elsif @event.id == 1 %>
    <%= image_tag("1.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 2 %>
    <%= image_tag("2.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 3 %>
    <%= image_tag("3.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 4 %>
    <%= image_tag("4.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 5 %>
    <%= image_tag("5.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 6 %>
    <%= image_tag("6.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 7 %>
    <%= image_tag("7.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 8 %>
    <%= image_tag("8.jpg", class: "flex-image-XL") %>
  <% elsif @event.id == 9 %>
    <%= image_tag("9.jpg", class: "flex-image-XL") %>
  <% else %>
    <%= image_tag("thumbnail.svg", class: "flex-image-L")%>
  <% end %>
</aside>

<h2>Event Info:</h2>
<p>Name: <%= @event.name %>
  <br>Description: <%= @event.description %>
  <br>Address: <%= @event.location %>
  <br>Creation date: <%= @event.creation_date %>
  <br>Date: <%= @event.starting_event_date %>
  <br>Created by:
  <% @user.each do |user| %>
    <% if @event.user_id == user.id %>
      <%= link_to user.full_name, user %>
      <% break %>
    <% end %>
  <% end %>
  <br>Organization:
  <% @organization.each do |organization| %>
    <% if @event.organization_id == organization.id %>
      <%= link_to organization.name, organization %><br>
      <% break %>
    <% end %>
  <% end %>
  <br>Privacy:
  <% if @event.event_privacy == 1 %>
    <%= "Private" %>
  <% else %>
    <%= "Public" %>
  <% end %>
</p>

<p>
  <b>Guest List:</b><br>
  <% @user_on_event.each do |event| %>
    <% if event.event_id == @event.id %>
      <% @user.each do |user| %>
        <% if user.id == event.user_id %>
          - <%= link_to user.full_name, user %><br>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</p>
<h3>Comments:</h3>
<p>
  <% @event.comments.each do |comment| %>
    <tr>
    <p>
    <div class="flex-item-comment">
      <%= comment.user.username %>:
      <%= comment.message %>
    </div>
    <% if user_signed_in? && current_user.id == comment.user.id %>
      <%= link_to 'Edit/Delete', edit_comment_path(comment) %>
    <% end %>
    <% @event.comment_replies.each do |reply| %>
      <tr>
        <p>
          <% if reply.comment.id == comment.id %>
          <div class="flex-item-reply">
            -> <%= reply.user.username %>:
            <%= reply.message %>
          </div>
        <% end %>
        </p>
      </tr>
    <% end %>
    </p>
    </tr>
  <% end %>
  <% if user_signed_in? %> <!-- ONLY SIGNED IN PEOPLE CAN COMMENT-->
    </p>
    <p><%= link_to '- New Comment -', new_comment_path(@comment) %> </p>
    <br>
  <% end %>

  <% @event.files.each do |file| %>
    <%= image_tag(file, class: "flex-image-L") %><br>
  <% end %>

  <br>
  <% if user_signed_in? %> <!-- ONLY SIGNED IN PEOPLE CAN UPLOAD FILES-->
    <div class="flex-container">
      <li class="flex-item-event">
        <%= form_with model: @event, local: true do |form| %>
          <%= errors_for @event %>
          <div class="form-group">
            <%= form.label :Upload_files_videos_or_images %>
            <br>
            <p><%= form.file_field :files %></p>
            <div class="form-group mt-2">
              <%= form.submit "Upload", class: ["btn", "btn-primary"] %>
            </div>
          </div>
        <% end %>
        <br>
      </li>
    </div>
  <% end %>

  <% if user_signed_in? && current_user.id == @event.user_id %> <!-- ONLY THE CREATOR OF THE EVENT CAN INVITE POEPLE-->
    <h4>Invite People:</h4>
    <div class="row ml-0">
      <%= form_with model: @event, local: true do |form| %>
        <%= errors_for @event %>
        <div class="form-group">
          <%= form.label :user %>
          <%= form.collection_select(:user_id, User.all.order(name: :asc), :id, :username, {}, {class: "form-control"}) %>
        </div>
        <div class="form-group">
          <%= form.label :event %>
          <%= form.collection_select(:event_id, Event.all.order(name: :asc), :id, :name, {}, {class: "form-control"}) %>
        </div>
        <div class="form-group mt-2">
          <%= form.submit "Invite", class: ["btn", "btn-primary"] %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>

  <% if user_signed_in? %>
    <%= button_to 'Report Event', edit_mail_box_path, method: :get %>
<% end %><br>


  <br>
  <% if (user_signed_in? && current_user.id == @event.user_id) or (user_signed_in? && current_user.admin) %> <!-- ONLY THE CREATOR OF THE EVENT CAN EDIT OR DESTROY or an admin-->
    <%= button_to "Destroy", @event, {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true} %>
    <br>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
  <%= link_to 'Back', :back %>

