<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<div class="row ml-0 mt-2 mb-3">
  <%= link_to "Add Organization", new_organization_path, class: ["btn", "btn-primary"] %>
</div>

<% @organizations.each do |org| %>

  <ul class="flex-container">
    <li class="flex-item">
      Name: <%= link_to  org.name, org %><br>
      Description: <%= org.description %><br>
      <aside style="float: right; padding-right: 20px">
        <% if org.flyer.attached? %>
          <%= image_tag(org.flyer, class: "flex-image2", data: { target: "#myModal", toggle: "modal"}) %>
        <% else %>
          <%= image_tag("thumbnail.svg", class: "flex-image2") %>
        <% end %>
      </aside>
    </li>
  </ul>
<% end %>

<br>