<p id="notice"><%= notice %></p>

<aside style="float: right; padding-right: 20px">
  <% if @organization.flyer.attached? %>
    <%= image_tag(@organization.flyer, class: "flex-image-XL", data: { target: "#myModal", toggle: "modal"}) %>
  <% else %>
    <%= image_tag("thumbnail.svg", class: "flex-image-XL") %>
  <% end %>
</aside>

<h2>Organization Info:</h2>
<p>Name: <%= @organization.name %>
  <br>Description: <%= @organization.description %>
</p>

<h5> Organizations Events:</h5>
<% @event.each do |event| %>
  <% if event.organization_id == @organization.id %>
    - <%= link_to event.name, event %><br>
  <% end %>
<% end %>

<br>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
