<%= form_with(model: reports, local: true) do |form| %>
  <% if reports.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail_box.errors.count, "error") %> prohibited this mail box from being saved:</h2>

      <ul>
        <% mail_box.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="row ml-0">
  <%= form_with model: mail_box, local: true do |form| %>
    <%= errors_for mail_box %>
    <div class="form-group">
      <%= form.label :TO %>
      <%= form.collection_select(:receiver, User.all.order(name: :asc), :id, :full_name, {}, {class: "form-control"}) %>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :message %><br>
      <%= form.text_area :message, class: "form-control" %>
    </div>
    <%= form.hidden_field :emitter, value: current_user.id %>
    <br>
    <br>
    <div class="form-group mt-2">
      <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
</div>

<%= simple_form_for(@mail_box) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
