<!-- TODO: Complete this layout with the required semantic tags and partial view -->
<!DOCTYPE html>
<html>

<head>
  <title> Course Proyect 2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <figure></figure>
  <h1 style="color: white;">R&V Events</h1>
</header>

<nav>
  <ul id="navbar">
    <li><a <%= link_to "Home", root_path %></a></li>
    <li><a <%= link_to 'Events', events_path %></a></li>
    <li><a <%= link_to 'Organizations', organizations_path %></a></li>
    <li><a <%= link_to 'Users', users_path %></a></li>
    <li style="float: right"><a <%= link_to 'My profile', user_path(1) %></a></li>
  </ul>
</nav>

<body>
<div id="container">
  <aside id="customer_info">
    <h4>Welcome!</h4>
  </aside>
  <main>
    <%= yield %>
  </main>
</div>
</body>

<footer>
  <h4>Contact Information</h4>
  <p>Address: Camino la villa 616 --phone: +56974492070 --mail: RVevents@webtech.gg</p>
  <p><a href="https://youtu.be/dQw4w9WgXcQ">For more information click here</a></p>
</footer>
</html>