<!-- TODO: Complete this layout with the required semantic tags and partial view -->
<!DOCTYPE html>
<html>

<head>
  <title> Course Proyect 2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <figure></figure>
  <h1 style="color: white;">R&V Events</h1>
</header>

<nav>
  <ul id="navbar">
    <li><a <%= link_to "Home", root_path %></a></li>
    <li><a <%= link_to 'Events', events_path %></a></li>
    <li><a <%= link_to 'Organizations', organizations_path %></a></li>
    <% if user_signed_in? %>
      <li><a <%= link_to 'Users', users_path %></a></li>
    <% end %>
    <% if not user_signed_in? %>
      <li style="float: right"><%= link_to "Sign In", new_user_session_path %></li>
      <li style="float: right"><%= link_to "Register", new_user_registration_path %></li>
    <% else
         if user_signed_in? %>
        <li style="float: right"><%= button_to "Log Out", destroy_user_session_path, :method => :delete %></li>
      <% else
           if admin_signed_in %>
          <li style="float: right"><%= button_to "Log Out", destroy_admin_session_path, :method => :delete %></li>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <li style="float: right"><a <%= link_to 'My profile', user_path(current_user.id) %></a></li>
        <li style="float: right"><a <%= link_to 'MailBox', mail_boxes_path %></a></li>
      <% end %>
    <% end %>
  </ul>
</nav>

<body>
<div id="container">
  <aside id="customer_info">
    <% if user_signed_in? %>
      <h4>Welcome <%= current_user.full_name %></h4>
      <% if current_user.admin %>
        Administrator
      <% end %>
    <% else %>
      <h4>Welcome guest</h4>
    <% end %>
  </aside>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
</div>
</body>

<footer>
  Contact Information
  <p><%= link_to "Terms of Service", terms_of_service_index_path %>
    | <%= link_to "Acceptable Use Policy", acceptable_use_policy_index_path %></p>
  Address: Camino la villa 616 --phone: +56974492070 --mail: RVevents@webtech.gg ### we know the frontend doesn't have
  very good looks, but we focused in the backend and implementations<br>
  <a href="https://youtu.be/dQw4w9WgXcQ">For more information click here</a>
</footer>
</html>